table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: yellow;
}

tr:nth-child(odd) {
    background-color: green;
    color: white; 
}
