
.music-link {
    text-decoration: none; 
    color: black;
    font-size: 18px; 
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: all 0.3s ease; 
}

.music-link:active {
    color: red; 
}

.music-link:hover {
    color: blue; 
    background-color: red; 
    font-size: 20px; 
}
